.price, .count{
    margin-left: 10px;
    font-size: 16px;
}
.item-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.cartBtn{
    color: rgb(30, 255, 0);
    font-size: 22px;
    cursor: pointer !important;
}
button{
    width: 200px !important;
}
.container{
    position: relative !important;
}
.cart{
    display: none;
    position: absolute !important;
    top: 60px;
    right: 30px;
    width: 340px;
    box-shadow: 2px 2px 2px 3px rgb(153, 153, 153);
    padding: 20px;
    border-radius: 6px;
    background-color: white;
    z-index: 10;
}
.cart .total{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.cart button{
    display: block;
    margin: auto;
    margin-top: 20px;
}